$breakpoint0:       1024px;
$breakpoint1:        960px;
$breakpoint2:        768px;
$breakpoint3:        480px;

$brand-pink:        #ef2463;
$brand-red:         #8e2c3d;
$brand-black:       #282828;
$brand-dark:        #333333;
$brand-blue:        #1059a8;
$brand-light:       #cccccc;
$brand-cream:       #f9f4f5;