$breakpoint0:       1200px;
$breakpoint1:        992px;
$breakpoint2:        768px;
$breakpoint3:        576px;
$breakpoint4:        480px;

$brand-orange:        #FC6621;
$brand-yellow:        #FDAF2A;
$brand-dark:          #2d2d2d;
$brand-black:         #000000;
$brand-grey:          #b5b5b5;