@import url('https://fonts.googleapis.com/css?family=Mukta+Malar:200,300,400');

@font-face {
    font-family: 'linottesemibold';
    src: url('fonts/linotte-semibold-webfont.woff2') format('woff2'),
    url('fonts/linotte-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$headerFont: 'linottesemibold';
$bodyFont: 'Mukta Malar', sans-serif;