
* {
    outline: none;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0 0 15px 0;
    line-height: 100%;
    font-family: $headerFont;
}

body {
    font-family: $bodyFont;
}

p, ol, ul {
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 120%;
}

h1 {
    font-family: $headerFont;
    font-size: 3.6rem;

    // @media (min-width: $breakpoint2){
    //     font-size: 4rem;
    // }
}

h2 {
    font-size: 2.8rem;
}

.btn {
    background: $brand-red;
    color: #ffffff;
    transition: all 0.25s;
    border-radius: 6px;
    font-size: 1.6rem;
    font-weight: 100;

    &:hover {
        background: $brand-pink;
        color: #ffffff;
    }

    &:focus,
    &:active {
        background: $brand-red;
        color: #ffffff;
        outline: none;
    }
}