@import "colours";
@import "fonts";

* {
    outline: none;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0 0 15px 0;
    line-height: 100%;
    font-family: $headerFont;
}

body {
    font-family: $bodyFont;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
}

p, ol, ul {
    font-weight: 100;
    line-height: 120%;
    font-size: 1.2rem;


    @media (min-width: $breakpoint2){
        font-size: 1.2rem;
        line-height: 130%;
    }

    @media (min-width: $breakpoint4){

        span {
            display: block;
        }
    }
}

a {
    color: $brand-orange;
}

.footer {
    h4 {
        font-size: 1.3rem;
    }

    p, ul, ol {
        font-size: 1.1rem;
        text-align: left;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

h1 {
    font-size: 2.8rem;

     @media (min-width: $breakpoint2){
         font-size: 3.6rem;
     }
}

h2 {
    font-size: 2.0rem;

    @media (min-width: $breakpoint2){
        font-size: 2.8rem;
    }
}

h3 {
    font-size: 1.6rem;

    @media (min-width: $breakpoint2){
        font-size: 2.0rem;
    }
}

h4 {
    font-size: 1.4rem;

    @media (min-width: $breakpoint2){
        font-size: 1.4rem;
    }
}

button {
    color: $brand-orange;
    background: rgba(0,0,0,0.05);
    text-transform: uppercase;
    font-family: $headerFont;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background: rgba(0,0,0,0.15);
    }
}
