@import "colours";
@import "fonts";
@import "furniture";

.display-none {
    display: none;
}

.devices-wide {
    display: none;
}

body {
    background: #ffffff;
    color: $brand-dark;
    font-size: 18px;
}

.hero {
    background-size: cover;
    height: 560px;
    background-position: center center;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    
    .text {
        max-width: 80%;
    }

     @media (min-width: $breakpoint2){
         height: 780px;
     }
}

.ribbon {
    background: #ffffff;
    height: 90px;
    border-bottom: 1px solid #dddddd;
}

.section {
    padding: 45px 0;
}

.mobile {
    background: whitesmoke;
    height: 700px;

    .text {
        text-align: center;
    }
}


// mobile navigation
#menu {
    background: #ffffff;
    text-transform: uppercase;

    a {
        color: $brand-black;
        font-size: 1.5rem;
        padding: 15px 40px;
    }
}