@import "colours";
@import "fonts";
@import "furniture";

.display-none {
    display: none;
}

.devices-wide {
    display: none;
}

body {
    background: #ffffff;
    color: $brand-dark;
}

.hero {
    background-size: cover;
    height: 560px;
    background-position: center center;
    background-color: $brand-black;
    background-image: url("../images/banner.jpg");
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    .text {
        max-width: 80%;
        padding-bottom: 160px;
    }

    .logo {
        width: 180px;
        margin-bottom: 15px;
    }

    @media (min-width: $breakpoint2){
        height: 780px;
    }
}

.ribbon {
    background: #ffffff;
    height: 90px;
    border-bottom: 1px solid #dddddd;
}

.section {
    padding: 30px;

    @media (min-width: $breakpoint2){
        padding: 45px 30px;
    }
}

.mobile {
    background: whitesmoke;
    background-image: url("../images/bg-showcase.png");
    background-position: center center;
    background-repeat: no-repeat;

    .text {
        margin: 30px 0;
    }
}

.showcase {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 0;

    .item {
        text-align: center;

        * {
            margin: 0;
            padding: 0;
        }

        img {
            width: 60%;
            margin: 0 auto 20px auto;
            outline: 1px solid lighten($brand-grey, 15%);
        }

        h4 {

        }

    }
}


// mobile navigation
#menu {
    background: #ffffff;
    text-transform: uppercase;

    a {
        color: $brand-black;
        font-size: 1.5rem;
        padding: 15px 40px;
    }
}