@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
* {
  outline: none; }

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0 0 15px 0;
  line-height: 120%; }

body {
  font-family: "Quicksand", sans-serif; }

p, ol, ul {
  color: #333333;
  font-weight: 300;
  font-size: 1.8rem; }

strong {
  font-weight: 400; }

h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 3.6rem;
  color: #ef2463; }
  @media (min-width: 768px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 2.8rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3.2rem; } }

h3 {
  font-family: "Varela Round", sans-serif; }

h4 {
  font-family: "Varela Round", sans-serif;
  font-weight: 400; }

.btn {
  background: #8e2c3d;
  color: #ffffff;
  transition: all 0.25s;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 100; }
  .btn:hover {
    background: #ef2463;
    color: #ffffff; }
  .btn:focus, .btn:active {
    background: #8e2c3d;
    color: #ffffff;
    outline: none; }

.display-none {
  display: none; }

.devices-wide {
  display: none; }

@media (min-width: 768px) {
  .devices-wide {
    display: block; }
  .devices-narrow {
    display: none; } }

body {
  background: #ffffff;
  color: #333333;
  font-size: 16px; }

.footer {
  height: 225px;
  position: relative;
  border-bottom: 10px solid #cccccc;
  background: #8e2c3d; }
  .footer ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 10px 0; }
    .footer ul li {
      display: inline; }
      .footer ul li a {
        display: inline-block;
        color: #ffffff;
        font-size: 1.7rem;
        font-weight: 100;
        padding: 10px 12px; }
        .footer ul li a:hover {
          text-decoration: none; }
  .footer .tel-link {
    color: #ffffff; }
    .footer .tel-link:hover {
      text-decoration: none; }
  .footer .copyright {
    text-align: center;
    padding: 30px 0 0 0;
    margin-bottom: 0;
    color: #ffffff;
    font-size: 1.7rem; }
  .footer p {
    color: #f9f4f5;
    font-size: 1.5rem;
    line-height: 140%;
    text-align: center; }
    @media (min-width: 768px) {
      .footer p {
        text-align: left; } }
  @media (min-width: 768px) {
    .footer {
      border-bottom: 20px solid #dddddd;
      background: url("../images/bg-footer.png") top right no-repeat #8e2c3d; }
      .footer .copyright {
        padding: 12px 45px 0 0;
        float: left; }
      .footer ul {
        padding: 0;
        justify-content: flex-start; }
        .footer ul li {
          display: inline;
          padding: 0 10px 15px 0; }
          .footer ul li:first-child a {
            padding-left: 0; }
      .footer .address {
        text-align: left; } }

.skirt {
  position: absolute;
  width: 255px;
  height: 150px;
  background: url("../images/bg-footer-fruit.png") 0 0 no-repeat;
  background-size: cover;
  bottom: -15px;
  left: 50%;
  margin-left: -126px;
  margin-bottom: 5px solid #ffffff;
  display: none; }
  @media (min-width: 768px) {
    .skirt {
      display: block; } }

.hero {
  background-size: cover;
  height: 360px;
  background-position: center center; }

.filter-controls-mobile {
  margin-bottom: 15px;
  margin-top: -10px; }
  .filter-controls-mobile button {
    border: 1px solid #cccccc;
    background: #ffffff;
    color: #8c8c8c;
    width: 100%;
    padding: 6px 10px;
    border-radius: 3px;
    text-transform: uppercase; }
    .filter-controls-mobile button:hover, .filter-controls-mobile button:focus {
      border: 1px solid #cccccc;
      background: #ffffff;
      color: #333333; }
  @media (min-width: 768px) {
    .filter-controls-mobile {
      display: none; } }

.filter-controls {
  text-align: center;
  padding: 0 0 15px;
  display: none; }
  .filter-controls > span {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 10px;
    margin: 0 3px 12px 4px;
    color: #ffffff;
    background: #1059a8;
    cursor: pointer; }
    .filter-controls > span.active {
      background: #ef2463; }
    .filter-controls > span.clear {
      background: #8e2c3d; }
  .filter-controls.on-for-mobile {
    display: block; }
  @media (min-width: 768px) {
    .filter-controls {
      display: block;
      padding: 0 60px 20px; } }

@media (min-width: 768px) {
  .filtered {
    min-height: 800px; } }

.filtered .filtered-out {
  display: none; }

.filtered #empty-list {
  display: none; }
  .filtered #empty-list h2 {
    text-align: center;
    padding: 40px 30px 80px;
    color: #cccccc; }
  .filtered #empty-list.is-empty {
    display: block; }

.filtered .recipe {
  background-position: center center;
  background-size: cover;
  position: relative;
  display: block;
  min-height: 390px;
  padding: 10px;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .filtered .recipe {
      margin-bottom: 30px; } }

.filtered .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 12px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis; }

.filtered h3 {
  font-size: 2.5rem;
  color: #333333; }

.link-to-recipes {
  padding: 20px 0; }

.grower-image,
.recipe-image {
  margin-bottom: 15px; }
  .grower-image img,
  .recipe-image img {
    display: block;
    width: 100%; }
  @media (min-width: 768px) {
    .grower-image,
    .recipe-image {
      margin-bottom: 45px; } }

.grower-detail,
.recipe-detail {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .grower-detail,
    .recipe-detail {
      margin-bottom: 45px; } }

.grower {
  float: left;
  padding-top: 45px;
  border-top: 1px solid #f2f2f2; }

.spacer {
  height: 510px; }

#menu {
  background: #ffffff;
  text-transform: uppercase; }
  #menu a {
    color: #282828;
    font-size: 1.5rem;
    padding: 15px 40px; }
