@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400|Mukta+Malar:200,300,400");
* {
  outline: none; }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0 0 15px 0;
  line-height: 100%;
  font-family: "Mukta Malar", sans-serif; }

body {
  font-family: "Hind Siliguri", sans-serif; }

p, ol, ul {
  font-weight: 100;
  font-size: 1.4rem;
  line-height: 120%; }
  @media (min-width: 768px) {
    p, ol, ul {
      font-size: 1.6rem; } }

h1 {
  font-family: "Mukta Malar", sans-serif;
  font-size: 2.8rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 3.6rem; } }

h2 {
  font-size: 2.8rem; }

.btn {
  background: #8e2c3d;
  color: #ffffff;
  transition: all 0.25s;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 100; }
  .btn:hover {
    background: #ef2463;
    color: #ffffff; }
  .btn:focus, .btn:active {
    background: #8e2c3d;
    color: #ffffff;
    outline: none; }

.display-none {
  display: none; }

.devices-wide {
  display: none; }

body {
  background: #ffffff;
  color: #333333;
  font-size: 18px; }

.hero {
  background-size: cover;
  height: 560px;
  background-position: center center;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; }
  .hero .text {
    max-width: 80%; }
  @media (min-width: 768px) {
    .hero {
      height: 780px; } }

.ribbon {
  background: #ffffff;
  height: 90px;
  border-bottom: 1px solid #dddddd; }

.section {
  padding: 45px 0; }

.mobile {
  background: whitesmoke;
  height: 700px; }
  .mobile .text {
    text-align: center; }

#menu {
  background: #ffffff;
  text-transform: uppercase; }
  #menu a {
    color: #282828;
    font-size: 1.5rem;
    padding: 15px 40px; }
