@import url("https://fonts.googleapis.com/css?family=Mukta+Malar:200,300,400");
@font-face {
  font-family: 'linottesemibold';
  src: url("fonts/linotte-semibold-webfont.woff2") format("woff2"), url("fonts/linotte-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  outline: none; }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0 0 15px 0;
  line-height: 100%;
  font-family: "linottesemibold"; }

body {
  font-family: "Mukta Malar", sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%; }

p, ol, ul {
  font-weight: 100;
  line-height: 120%;
  font-size: 1.2rem; }
  @media (min-width: 992px) {
    p, ol, ul {
      font-size: 1.2rem;
      line-height: 130%; } }
  @media (min-width: 576px) {
    p span, ol span, ul span {
      display: block; } }

a {
  color: #FC6621; }

.footer h4 {
  font-size: 1.3rem; }

.footer p, .footer ul, .footer ol {
  font-size: 1.1rem;
  text-align: left; }

.footer a {
  text-decoration: none; }
  .footer a:hover {
    text-decoration: underline; }

h1 {
  font-size: 2.8rem; }
  @media (min-width: 992px) {
    h1 {
      font-size: 3.6rem; } }

h2 {
  font-size: 2.0rem; }
  @media (min-width: 992px) {
    h2 {
      font-size: 2.8rem; } }

h3 {
  font-size: 1.6rem; }
  @media (min-width: 992px) {
    h3 {
      font-size: 2.0rem; } }

h4 {
  font-size: 1.4rem; }
  @media (min-width: 992px) {
    h4 {
      font-size: 1.4rem; } }

button {
  color: #FC6621;
  background: rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  font-family: "linottesemibold";
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px; }
  button:hover {
    background: rgba(0, 0, 0, 0.15); }

body {
  background: #ffffff;
  color: #2d2d2d; }

.hero {
  background-size: cover;
  height: 560px;
  background-position: center center;
  background-color: #000000;
  background-image: url("../images/banner.jpg");
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; }
  .hero .text {
    padding-bottom: 130px; }
  .hero .logo {
    width: 180px;
    margin-bottom: 15px; }
  @media (min-width: 992px) {
    .hero {
      height: 780px; } }

.ribbon {
  background: #ffffff;
  height: 60px;
  border-bottom: 1px solid #e8e8e8;
  z-index: 10;
  width: 100%; }
  .ribbon .menu {
    max-width: 1400px;
    margin: 0 auto;
    padding: 6px 20px;
    display: flex; }
  .ribbon .logo {
    width: 60px; }

.text {
  padding: 0 30px 30px 30px;
  text-align: center; }

.off-screen .ribbon {
  position: fixed;
  top: 0; }

.off-screen + .section {
  margin-top: 60px; }

.section {
  padding: 30px 0; }
  @media (min-width: 992px) {
    .section {
      padding: 75px 0 60px 0; } }

._mobile {
  background-color: #e7e7e7;
  background-image: url("../images/mobile-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  ._mobile .item {
    text-align: center; }
    ._mobile .item h4 {
      padding-bottom: 5px;
      margin-bottom: 0; }
    ._mobile .item p {
      padding-bottom: 15px;
      margin-bottom: 0; }
    ._mobile .item img[data-bg="1"] {
      background-image: url("../images/mobile-bg-1.png"); }
    ._mobile .item img[data-bg="2"] {
      background-image: url("../images/mobile-bg-2.png"); }
    ._mobile .item img[data-bg="3"] {
      background-image: url("../images/mobile-bg-3.png"); }
    ._mobile .item img {
      width: 250px;
      margin: 0 auto 30px auto;
      display: block;
      padding: 8px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
  @media (min-width: 992px) {
    ._mobile .showcase {
      display: flex;
      max-width: 1400px;
      margin: 0 auto;
      justify-content: space-around;
      padding: 0 30px; } }

._desktop {
  background: #2d2d2d;
  color: #ffffff;
  background-image: url("../images/desktop-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  ._desktop .showcase .item {
    padding: 0 20px 20px 20px; }
  ._desktop .showcase img {
    width: 100%; }
  @media (min-width: 992px) {
    ._desktop .showcase {
      display: flex;
      padding: 0;
      margin: 60px 0; }
      ._desktop .showcase .item {
        padding: 0; }
        ._desktop .showcase .item img {
          width: 100%;
          display: block; }
      ._desktop .showcase.off img {
        filter: grayscale(1); } }
  ._desktop .controls {
    text-align: center; }
    ._desktop .controls span:nth-child(1) {
      display: none; }
    ._desktop .controls.off span:nth-child(1) {
      display: block; }
    ._desktop .controls.off span:nth-last-child(1) {
      display: none; }

._technology .showcase {
  height: 400px; }

._testimonials .showcase {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  padding: 30px 0; }

._testimonials .item {
  max-width: 25%;
  text-align: left;
  padding: 0 15px; }
  ._testimonials .item p {
    text-align: left;
    padding-bottom: 15px; }

._contact {
  background-image: url("../images/bg-maps.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid #dbdbdb;
  min-height: 260px; }

.footer {
  background: #2d2d2d;
  color: #ffffff;
  padding: 60px 20px 30px 20px; }
  .footer h4 {
    color: #FDAF2A;
    white-space: nowrap; }
  .footer .item {
    padding-bottom: 15px;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 15px; }
  .footer .social-links {
    font-size: 2.0rem; }
    .footer .social-links li {
      display: inline; }
  @media (min-width: 992px) {
    .footer .content {
      display: flex;
      max-width: 1400px;
      margin: 0 auto;
      justify-content: flex-end; }
      .footer .content .item {
        padding-left: 45px; }
        .footer .content .item:nth-child(1) {
          margin-right: auto;
          padding-left: 0;
          width: inherit;
          flex-grow: 4; }
        .footer .content .item p {
          max-width: 200px; }
    .footer .company {
      display: flex;
      max-width: 1400px;
      margin: 0 auto;
      justify-content: space-between; }
      .footer .company p {
        text-align: left; }
        .footer .company p:nth-last-child(1) {
          text-align: right; } }
